# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/

# Build
build/
dist/

# Logs
logs/

# Datos locales generados por la aplicación
data/excel/*.xlsx

# OS
.DS_Store
Thumbs.db
