# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Build
# ==========================
build/
dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
logs/

# ==========================
# Excel temporales
# ==========================
~$*.xlsx

# ==========================
# Sistema Operativo
# ==========================
Thumbs.db
.DS_Store

# ==========================
# PyInstaller
# ==========================
*.spec